header {
  position: fixed;
  margin-bottom: 100px !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 32px;
  background-color: var(--secondary);
}

.nav-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: mostra-nuova, sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: var(--light);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

/* @media (min-width: 768px) {
} */
