@import url("https://use.typekit.net/jdd8yuv.css");

/* font-family: mostra-nuova,sans-serif;
font-weight: 300;
font-style: normal;

font-family: mostra-nuova,sans-serif;
font-weight: 400;
font-style: normal;

font-family: mostra-nuova,sans-serif;
font-weight: 700;
font-style: normal;

font-family: mostra-nuova,sans-serif;
font-weight: 800;
font-style: normal; */

:root {
  --primary: #AFEB30;
  --secondary: #2B2B2B;
  --dark: #111111;
  --black: #000000;
  --light: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'mostra-nuova', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--dark);
}

.content-wrap {
  min-height: 100vh;    
  display: flex;
  flex-direction: column;
}

.main-wrap {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

p {
  font-size: 0.85rem;
  font-family: mostra-nuova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--light);
}

h1 {
    font-size: 6rem;
  font-family: mostra-nuova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--light);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: mostra-nuova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--light);
}

.normal {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 12px 12px;
  position: relative;
  color: var(--dark);
  background-color: var(--light);
  border: solid 1.5px var(--dark);
  border-radius: 15px;
  box-shadow: 0px 5px var(--primary); 
}

.normal a {
  font-size: 16px;
  font-family: mostra-nuova, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: var(--dark);
  text-decoration: none;
}

button:hover {
  transform: scale(0.9);
  cursor: pointer;
}